@font-face {
  font-family: 'NotoSansCJKjp';
  font-style: regular;
  font-weight: regular;
  src: url("../font/web/NotoSansCJKjp-Regular.woff") format("woff");
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'NotoSansCJKjp';
  color: #3c3c3c;
  font-size: 62.5%;
}

body img {
  display: block;
}

body .sp {
  display: none;
}

body header,
body .scroll_inner,
body .inner {
  max-width: 960px;
  margin: 0 auto;
}

body .heading {
  font-size: 3.6em;
  text-align: center;
  position: relative;
  margin-bottom: 40px;
}

body .heading::before {
  content: '';
  display: block;
  width: 1em;
  height: 1em;
  background: url(../images/icon_red.png) no-repeat;
  background-size: contain;
  margin: 0 auto;
  position: absolute;
  top: -2em;
  left: 0;
  right: 0;
}

body .lead {
  font-size: 1.6em;
  line-height: 2.3;
  text-align: center;
  margin-bottom: 5em;
}

body .btn,
body .link_more,
body .btn_more {
  display: block;
  background-image: -webkit-gradient(linear, left top, right top, color-stop(50%, #3c3c3c), color-stop(50%, #c30010));
  background-image: linear-gradient(to right, #3c3c3c 50%, #c30010 50%);
  background-position: 0 0;
  background-size: 200% auto;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

body .btn:hover,
body .link_more:hover,
body .btn_more:hover {
  background-position: -100% 0;
}

body section {
  padding: 170px 0 100px 0;
}

body h2 {
  font-family: 'DIN Condensed', sans-serif;
  letter-spacing: 0.08em;
}

body .animation {
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-transform: translateY(30px);
          transform: translateY(30px);
}

body .main_wrapper {
  position: relative;
}

body .main_wrapper header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 960px;
  background: #fff;
  z-index: 2;
}

body .main_wrapper header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .main_wrapper header nav a.header_logo {
  margin-left: 35px;
  display: block;
}

body .main_wrapper header nav ul.list.gNav_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
}

body .main_wrapper header nav ul.list.gNav_list li.gNav_item a.gNav_link {
  font-family: 'DIN Condensed', sans-serif;
  font-size: 2em;
  letter-spacing: 0.02em;
  display: block;
  padding: 1.5em 1em;
}

body .main_wrapper header nav ul.list.gNav_list li.gNav_item a.gNav_link:hover {
  background: #c30010;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

body .main_wrapper header nav ul.list.gNav_list li.gNav_item-mail {
  background: #9f163d;
}

body .main_wrapper header nav ul.list.gNav_list li.gNav_item-mail a.gNav_link {
  background: #9f163d;
  width: 100%;
  display: block;
  padding: 3.2em 3em;
}

body .main_wrapper header nav ul.list.gNav_list li.gNav_item-mail a.gNav_link img {
  width: 28px;
  height: 19px;
}

body .main_wrapper header nav ul.list.gNav_list li.gNav_item-tell {
  background: #d52355;
  padding: 0 2em;
}

body .main_wrapper header nav ul.list.gNav_list li.gNav_item-tell a.gNav_link {
  color: #fff;
  font-family: 'DIN Condensed', sans-serif;
  font-size: 28px;
  letter-spacing: 0.04em;
  padding: 0.9em 0;
  display: block;
}

body .main_wrapper header nav ul.list.gNav_list li.gNav_item-tell a.gNav_link.pc {
  pointer-events: initial;
}

body .main_wrapper header nav ul.list.gNav_list li.gNav_item-tell a.gNav_link.sp {
  display: none;
}

body .main_wrapper section.mv {
  padding-top: 0;
  padding-bottom: 0;
}

body .main_wrapper section.mv .mv_inner {
  position: relative;
}

body .main_wrapper section.mv .mv_inner .bg_wrapper {
  overflow: hidden;
  position: relative;
}

body .main_wrapper section.mv .mv_inner .bg_wrapper:before {
  -webkit-animation: img-wrap 0.8s cubic-bezier(0.4, 0, 0.2, 1) forwards;
  animation: img-wrap 0.8s cubic-bezier(0.4, 0, 0.2, 1) forwards;
  background: #fff;
  bottom: 0;
  content: '';
  left: 0;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
}

body .main_wrapper section.mv .mv_inner .bg_wrapper .mv_bg {
  width: 100%;
}

@-webkit-keyframes img-wrap {
  100% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}

body .main_wrapper section.mv .mv_inner .mv_logo {
  opacity: 0;
  width: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-animation: SlideIn 1.6s;
  animation: SlideIn 1s;
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

@-webkit-keyframes SlideIn {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-150px);
            transform: translateX(-150px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes SlideIn {
  0% {
    opacity: 0;
    transform: translate(-80%, -50%);
    -webkit-transform: translate(-80%, -50%);
    -ms-transform: translate(-80%, -50%);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  }
}

body section.exceed {
  padding-top: 130px;
}

body section.exceed div.inner a.btn.btn_exceed {
  color: #fff;
  font-family: 'DIN Condensed', sans-serif;
  width: 320px;
  display: block;
  font-size: 2.2em;
  padding: 22px 0;
  margin: 0 auto;
  text-align: center;
  letter-spacing: 0.02em;
}

body section.field {
  background: #f0f0f0;
}

body section.field div.inner div.service_items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body section.field div.inner div.service_items div.service_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 45px 45px 0;
  width: calc(33.3333333% - 45px);
  background: #fff;
}

body section.field div.inner div.service_items div.service_item:nth-child(3n) {
  margin-right: 0;
}

body section.field div.inner div.service_items div.service_item h3.ttl {
  font-size: 1.8em;
  text-align: center;
  margin: 45px 0;
}

body section.field div.inner div.service_items div.service_item p.desc {
  font-size: 1.4em;
  line-height: 1.57;
  padding: 0 25px 40px 25px;
}

body section.field div.inner div.service_items div.service_item a.link_more {
  color: #fff;
  display: block;
  font-size: 1.8em;
  text-align: center;
  margin-top: auto;
  padding: 20px 0;
}

body section.field div.inner div.service_items div.service_item a.link_more::after {
  content: '';
  display: inline-block;
  width: 1em;
  height: 1em;
  background: url(../images/arrow_more.png) no-repeat;
  background-size: contain;
  background-position: center 3px;
  margin-left: 10px;
}

body section.field div.inner div.service_items div.service_item.fadeIn {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

body section.field div.inner .btn_field.sp {
  display: none;
}

body section.blog {
  padding-bottom: 0;
}

body section.blog div.inner div.blog_items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 100px;
}

body section.blog div.inner div.blog_items article {
  width: 33.3333%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px 26px 15px 30px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body section.blog div.inner div.blog_items article:nth-child(1) {
  border-left: 2px solid #cecece;
}

body section.blog div.inner div.blog_items article:nth-child(2) {
  border-left: 2px solid #cecece;
}

body section.blog div.inner div.blog_items article:last-child {
  border-left: 2px solid #cecece;
  border-right: 2px solid #cecece;
}

body section.blog div.inner div.blog_items article div {
  font-family: 'Noto Sans CJK JP', sans-serif;
  margin-bottom: 10px;
}

body section.blog div.inner div.blog_items article div a {
  font-size: 1.2em;
  color: #fff;
  display: inline-block;
  padding: 8px 20px;
  margin-right: 10px;
}

body section.blog div.inner div.blog_items article div a.category_yellow {
  background: #f3b338;
}

body section.blog div.inner div.blog_items article div a.category_pink {
  background: #e67db6;
}

body section.blog div.inner div.blog_items article div a.category_blue {
  background: #61c6ec;
}

body section.blog div.inner div.blog_items article img {
  width: 100%;
}

body section.blog div.inner div.blog_items article h3.ttl {
  font-size: 2em;
  line-height: 1.6;
  padding: 22px 0;
}

body section.blog div.inner div.blog_items article p.desc {
  font-size: 1.4em;
  line-height: 1.57;
  margin-top: auto;
}

body section.blog div.inner div.blog_items article a.btn_more {
  font-family: 'DIN Condensed', sans-serif;
  width: 217px;
  margin: 0 auto;
  padding: 15px 0 10px;
  border: 1px solid #3c3c3c;
  text-align: center;
  font-size: 2.6em;
  letter-spacing: 0.08em;
  display: table;
  margin-top: 35px;
  background-image: -webkit-gradient(linear, left top, right top, color-stop(50%, rgba(255, 255, 255, 0)), color-stop(50%, #c30010));
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0) 50%, #c30010 50%);
}

body section.blog div.inner div.blog_items article a.btn_more span {
  display: table-cell;
  vertical-align: middle;
}

body section.blog div.inner div.blog_items article.fadeIn {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

body section.blog div.inner .btn_blog.sp {
  display: none;
}

body section.blog div.toTop {
  border-top: 1px solid #cecece;
}

body section.blog div.toTop a {
  margin-bottom: auto;
  display: block;
  padding: 25px 0;
  width: 960px;
  margin: 0 auto;
  font-size: 12px;
}

body section.access {
  padding-top: 0;
  padding-bottom: 0;
}

body section.access #map iframe,
body section.access #map object,
body section.access #map embed {
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
}

body footer {
  background: #f0f0f0;
}

body footer .scroll_inner {
  position: relative;
}

body footer .scroll_inner a.btn.btn_scroll {
  position: absolute;
  top: 0;
  right: 0;
  background: #3c3c3c;
  background-image: url(../images/arrow_toTop.png);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  display: inline-block;
  width: 50px;
  height: 50px;
}

body footer div.inner {
  padding-bottom: 20px;
  font-size: 1.2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

body footer div.inner div.company_info {
  line-height: 1.83;
}

body footer div.inner div.company_info img.footer_logo {
  margin: 30px 0 20px 0;
}

body footer div.inner div.company_info address {
  margin-bottom: 30px;
}

@media screen and (max-width: 980px) {
  body .pc {
    display: none;
  }
  body .sp {
    display: block;
  }
  body section {
    padding-top: 120px;
    padding-bottom: 50px;
  }
  body .inner {
    width: 85%;
  }
  body .heading {
    margin-bottom: 20px;
  }
  body .heading::before {
    top: -1.5em;
  }
  body .lead {
    line-height: 2;
  }
  body div.main_wrapper header {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  body div.main_wrapper header.active {
    position: fixed;
    text-align: center;
    border-bottom: 1px solid #c9c9c9;
  }
  body div.main_wrapper header nav {
    width: 85%;
    padding: 16px 0;
    margin: 0 auto;
  }
  body div.main_wrapper header nav a.header_logo {
    margin-left: 0;
  }
  body div.main_wrapper header nav a.header_logo img {
    width: 77px;
  }
  body div.main_wrapper header nav span.toggle_menu {
    background-image: url(../images/menu_sp.png);
    background-size: 100% 20px;
    background-repeat: no-repeat;
    display: block;
    width: 30px;
    height: 20px;
    margin-left: auto;
  }
  body div.main_wrapper header nav span.toggle_menu.active {
    background-image: url(../images/menu_sp_open.png);
    background-size: 20px 20px;
    width: 20px;
  }
  body div.main_wrapper header nav ul.list.gNav_list {
    display: none;
    overflow: hidden;
  }
  body div.main_wrapper header nav ul.list.gNav_list.active {
    display: block;
    width: 100%;
    margin: 0 auto;
    top: 5.3em;
    left: -0.05em;
    background: #fff;
    position: fixed;
  }
  body div.main_wrapper header nav ul.list.gNav_list.active .gNav_item {
    border-bottom: 1px solid #c9c9c9;
    padding: 0;
  }
  body div.main_wrapper header nav ul.list.gNav_list.active .gNav_item-mail {
    float: left;
    width: 50%;
    border-bottom: 1px solid #c9c9c9;
    border-right: 1px solid #c9c9c9;
  }
  body div.main_wrapper header nav ul.list.gNav_list.active .gNav_item-mail .gNav_link {
    width: 100%;
    display: block;
    padding: 23px 0 20px 0;
  }
  body div.main_wrapper header nav ul.list.gNav_list.active .gNav_item-mail .gNav_link img {
    margin: 0 auto;
    width: 35px;
    height: auto;
  }
  body div.main_wrapper header nav ul.list.gNav_list.active .gNav_item-tell {
    float: left;
    width: 50%;
    background: #d52355;
    border-bottom: 1px solid #c9c9c9;
  }
  body div.main_wrapper header nav ul.list.gNav_list.active .gNav_item-tell .gNav_link {
    width: 100%;
    padding: 23px 0 14px 0;
  }
  body div.main_wrapper header nav ul.list.gNav_list.active .gNav_item-tell .gNav_link img {
    width: 29px;
    margin: 0 auto;
  }
  body div.main_wrapper header nav ul.list.gNav_list.active .gNav_item-tell .gNav_link.sp {
    display: block;
    pointer-events: inherit;
  }
  body div.main_wrapper header nav ul.list.gNav_list.active .gNav_item-tell .gNav_link.pc {
    display: none;
  }
  body div.main_wrapper header nav ul.list.gNav_list.active .gNav_item .gNav_link {
    font-size: 26px;
    padding: 23px 0 10px 0;
  }
  body div.main_wrapper header nav ul.list.gNav_list.active .gNav_item .gNav_link:hover {
    background: #fff;
  }
  body div.main_wrapper section.mv .mv_inner img.mv_logo {
    top: 53%;
    width: 83%;
  }
  body section.exceed {
    padding-top: 110px;
  }
  body section.exceed div.inner p.lead {
    margin-bottom: 25px;
  }
  body section.exceed div.inner a.btn.btn_exceed {
    padding-bottom: 15px;
    width: 100%;
  }
  body section.exceed div.inner a.btn.btn_exceed:hover {
    background: #3c3c3c;
  }
  body section.field div.inner p.lead {
    margin-bottom: 45px;
  }
  body section.field div.inner div.service_items {
    display: block;
  }
  body section.field div.inner div.service_items div.service_item {
    width: 100%;
  }
  body section.field div.inner div.service_items div.service_item h3.ttl {
    margin: 20px 0;
  }
  body section.field div.inner div.service_items div.service_item p.desc {
    padding-right: 5%;
    padding-left: 5%;
    padding-bottom: 25px;
  }
  body section.field div.inner div.service_items div.service_item a.link_more {
    width: 100%;
    text-align: right;
    padding: 15px 5% 15px 0;
    font-size: 14px;
  }
  body section.field div.inner a.btn.btn_field {
    font-family: 'DIN Condensed';
    font-size: 21px;
    text-align: center;
    color: #fff;
    padding: 23px 0 15px 0;
    display: block;
  }
  body section.blog div.inner h2.heading {
    margin-bottom: 0;
  }
  body section.blog div.inner div.blog_items {
    display: block;
    margin-bottom: 0;
  }
  body section.blog div.inner div.blog_items article {
    width: 100%;
    border-right: none;
    border-bottom: #cecece solid 1px;
    padding: 40px 0;
  }
  body section.blog div.inner div.blog_items article:first-child {
    border-left: none;
  }
  body section.blog div.inner div.blog_items article:nth-child(2) {
    border-left: none;
  }
  body section.blog div.inner div.blog_items article:last-child {
    border-left: none;
    border-right: none;
  }
  body section.blog div.inner div.blog_items article div {
    font-family: 'Noto Sans CJK JP', sans-serif;
    margin-bottom: 10px;
  }
  body section.blog div.inner div.blog_items article div a {
    margin-right: 10px;
    font-family: 'Noto Sans CJK JP';
  }
  body section.blog div.inner div.blog_items article div date {
    font-size: 11px;
  }
  body section.blog div.inner div.blog_items article h3.ttl {
    font-size: 17px;
  }
  body section.blog div.inner div.blog_items article a.btn.btn_more {
    width: 100%;
    padding: 10px 0 5px 0;
    margin-top: 20px;
    font-size: 17px;
  }
  body section.blog div.inner a.btn.sp.btn_blog {
    font-family: 'DIN Condensed';
    font-size: 21px;
    text-align: center;
    color: #fff;
    padding: 23px 0 15px 0;
    margin-bottom: 50px;
    display: block;
  }
  body section.blog div.toTop a {
    width: 85%;
    font-size: 12px;
    padding: 13px 0;
  }
  body section.access #map {
    height: 0;
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
  }
  body section.access #map iframe {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
  }
  body footer div.inner {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  body footer div.inner div.company_info {
    width: 100%;
    padding-top: 80px;
    font-size: 10px;
  }
  body footer div.inner div.company_info img.footer_logo {
    margin: 0 auto;
    margin-bottom: 26px;
    width: 83px;
  }
  body footer div.inner div.company_info address {
    margin: 0 auto;
    width: 85%;
    margin-bottom: 30px;
  }
  body footer div.inner div.company_info p {
    text-align: center;
  }
  body footer div.inner a.policy {
    width: 85%;
    margin: 0 auto;
    margin-top: 20px;
  }
  _::-webkit-full-page-media,
  _:future,
  :root
div.main_wrapper
header
nav
ul.list.gNav_list.active
.gNav_item-mail
.gNav_link {
    padding: 23px 0 21px 0;
  }
  .gNav_item-tell {
    border-bottom: 1px solid #c9c9c9;
  }
  @-moz-document url-prefix() {
    .gNav_item-tell {
      border-bottom: 1px solid #c9c9c9;
    }
    div.main_wrapper
header
nav
ul.list.gNav_list.active
.gNav_item-mail
.gNav_link {
      padding: 23px 0 21px 0 !important;
    }
  }
}
/*# sourceMappingURL=style.css.map */